<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="add"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input type="text" name="username" [(ngModel)]="user.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" name="name" [(ngModel)]="user.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input type="text" name="lastname" [(ngModel)]="user.lastname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">contraseña</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmar</ion-label>
    <ion-input type="password" name="passwordConfirm" [(ngModel)]="user.passwordConfirm"></ion-input>
  </ion-item>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="row">
      <div class="col">
        <ion-button (click)="cancel()" color="danger" expand="full">Cancelar</ion-button>
      </div>
      <div class="col">
        <ion-button expand="full" (click)="signup()">Registrar</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>


